# Common settings that generally should always be used with your language specific settings

# Auto detect text files and perform LF normalization
*          text=auto eol=lf

#
# The above will handle all files NOT found below
#

# Documents
*.bibtex   text diff=bibtex eol=lf
*.doc      diff=astextplain eol=crlf
*.DOC      diff=astextplain eol=crlf
*.docx     diff=astextplain eol=crlf
*.DOCX     diff=astextplain eol=crlf
*.dot      diff=astextplain eol=crlf
*.DOT      diff=astextplain eol=crlf
*.pdf      diff=astextplain eol=crlf
*.PDF      diff=astextplain eol=crlf
*.rtf      diff=astextplain eol=crlf
*.RTF      diff=astextplain eol=crlf
*.md       text diff=markdown eol=lf
*.mdx      text diff=markdown eol=lf
*.tex      text diff=tex eol=lf
*.adoc     text eol=lf
*.textile  text eol=lf
*.mustache text eol=lf
*.csv      text eol=lf
*.tab      text eol=lf
*.tsv      text eol=lf
*.txt      text eol=lf
*.sql      text eol=lf
*.epub     diff=astextplain eol=lf

# Graphics
*.png      binary
*.jpg      binary
*.jpeg     binary
*.gif      binary
*.tif      binary
*.tiff     binary
*.ico      binary
# SVG treated as text by default.
*.svg      text eol=lf
# If you want to treat it as binary,
# use the following line instead.
# *.svg    binary
*.eps      binary

# Scripts
*.bash     text eol=lf
*.fish     text eol=lf
*.ksh      text eol=lf
*.sh       text eol=lf
*.zsh      text eol=lf
# These are explicitly windows files and should use crlf
*.bat      text eol=crlf
*.cmd      text eol=crlf
*.ps1      text eol=crlf

# Serialisation
*.json     text eol=lf
*.toml     text eol=lf
*.xml      text eol=lf
*.yaml     text eol=lf
*.yml      text eol=lf

# Archives
*.7z       binary
*.bz       binary
*.bz2      binary
*.bzip2    binary
*.gz       binary
*.lz       binary
*.lzma     binary
*.rar      binary
*.tar      binary
*.taz      binary
*.tbz      binary
*.tbz2     binary
*.tgz      binary
*.tlz      binary
*.txz      binary
*.xz       binary
*.Z        binary
*.zip      binary
*.zst      binary

# Text files where line endings should be preserved
*.patch    -text

#
# Exclude files from exporting
#

.gitattributes export-ignore
.gitignore     export-ignore
.gitkeep       export-ignore

#
# Javascript files
#

*.js       text eol=crlf
*.cjs      text eol=crlf
*.mjs      text eol=crlf
*.jsx      text eol=crlf
*.ts       text eol=crlf
*.cts      text eol=crlf
*.mts      text eol=crlf
*.tsx      text eol=crlf
